@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Oxygen&display=swap");
/* Basics - Layout, main colors, font, margin */
body {
    color: #fff;
    background-color: #121212;
    margin: 0;
    font-family: "Exo 2", sans-serif;
}

.page-wrapper {
    background-color: #1a1a1a;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 1em 2em 0 1em;
}

/* Typography */
h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
}

/* Grid */
.page-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        "header header"
        "intro intro"
        "main aside"
        "footer footer";
}
.intro {
    grid-area: intro;
    width: 100%;
}
header {
    grid-area: header;
}
#zen-supporting {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* Header */
header {
    background: linear-gradient(to top, #1e4277 0%, #2d63b6 50%, #3c77d6 100%);
    width: 100%;
    font-family: "Oxygen", sans-serif;
}

h1 {
    margin-top: 0;
}

/* make it look like cards */
.page-wrapper {
    gap: 1em;
}
.page-wrapper > *:not(.intro) {
    background-color: #212121;
    border-radius: 0.5rem;
    padding: 1em;
}

.intro {
    background-color: #212121;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.intro > *:not(header) {
    padding: 0 1em 1em;
}

/* aside */
aside li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

/* links */
a {
    color: #2d63b6;
    text-decoration: none;
}

a:link {
    color: #2d63b6;
}

a:visited {
    color: #1e4277;
}

a:hover {
    color: #96b1db;
}

/* Footer */
footer {
    display: flex;
    height: 3em;
    background-color: #2d63b6;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}

footer a {
    color: #fff;
}

footer a:link {
    color: #fff;
}

footer a:visited {
    color: #1e4277;
}

footer a:hover {
    color: #96b1db;
}
